:root {
  --branding-color: #6b62ff;
  --secondary-color: #faf7fe;
  --headings-font: "Playfair Display", serif;
  --content-font: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--headings-font);
}

p {
  font-family: var(--content-font);
  font-size: 16px;
  line-height: 2;
}

.about-project {
  padding: 120px 60px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: var(--content-font);
  font-weight: bold;
  font-size: 36px;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

.hero .btn-contact {
  padding: 15px 30px;
  background-color: var(--branding-color);
  color: white;
  font-size: 18px;
  font-family: var(--content-font);
}

.hero .btn-contact:hover {
  background-color: var(--branding-color);
}

.container h2 {
  font-size: 64px;
}

.container p {
  font-size: 16px;
  font-family: var(--content-font);
  line-height: 1.7;
}

.container .btn-applink {
  color: var(--branding-color);
  font-family: var(--content-font);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.container .btn-applink:hover {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
}

@media (max-width: 960px) {
  .hero {
    padding: 60px 20px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .about-project {
    padding: 0;
    text-align: center;
  }
  .container h2 {
    font-size: 42px;
  }
}
