:root {
  --branding-color: #6b62ff;
  --secondary-color: #faf7fe;
  --hedings-font: "Playfair Display", serif;
  --content-font: "Poppins", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
